* {
  font-family: "Old English Five", sans-serif;
  margin: 0;
  color: #c41508;
}
#prenumerera {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: max(1vw, 19px);
  -webkit-text-stroke: 0.02vw #c41508;
  overflow-wrap: break-word;
  text-align: center;
  padding-top: 1.5vw;
}
a:hover {
  color: grey;
  transition: 0.2s ease-in-out;
}
.social-media img:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(17, 72, 224, 0.3);
}
main {
  background-image: url(bilder/bakgrund.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.indexdel {
  min-width: 270px;
  border: solid#113864 4px;
  background-image: url(bilder/band-members.jpg);
  background-position: center;
  background-size: cover;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 839px) {
  .indexdel {
    min-height: 30vh;
    width: 50vw;
  }
}
@media (min-width: 839px) {
  .indexdel {
    min-height: 80vh;
    width: 70vw;
  }
}
.logga {
  width: 8vw;
  min-width: 70px;
}
.xorsist-logga {
  width: 20vw;
  min-width: 150px;
}
.social-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}
.indexdel {
  position: relative;
}
.botten {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
